
.header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: .3s;
    will-change: transform;
}


.header.moved {
    padding: 10px 0;
}

.header.moved .header-body {
    padding: 7px 24px;
}

.header-body {
    padding: 12px 24px;
    border-radius: 40px;
    align-items: center;
    transition: .3s;
    background: var(--gradient-gray);
    position: relative;
    z-index: 2;


}

.header-body::after {
    content: "";
    position: absolute;
    --webkit-filter: blur(44px);
    backdrop-filter: blur(44px);
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 40px;

}


.menu-list {
    gap: 52px;
}

.menu-bg {
    display: none;
}

.menu-list-link {
    color: var(--white);
    transition: .3s;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

}



.btn-login {
    background: var(--dark-blue);
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    transition: .3s;
    z-index: 2;
    position: relative;


}


.btn-login::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 46px;
    background: linear-gradient(90deg, #67169E 0%, #260040 100%);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.btn-login:hover::after {
    opacity: 1;
}


.btn-register {
    padding: 12px 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    border-radius: 50px;
    position: relative;
    z-index: 2;
    background: var(--dark-blue);



}

.btn-register::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 46px;
    background: var(--gradient-blueviolet);
    opacity: 1;
    left: -1px;
    top: -1px;
    width: 103%;
    height: 103%;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.btn-register:hover::after {
    opacity: 0;
}


.btn-login:hover {
    color: var(--white);


}

.logo-mobile {
    display: none;
}

.menu-list-link:hover {
    color: var(--light-blueviolet2);

}

.header-actions {
    gap: 8px;
}

.burger {
    display: none;
}


.header-mobile-actions {
    display: none;
}


@media (max-width: 1400px) {
}

@media (max-width: 1200px) {


    .menu-list {
        gap: 36px;
    }
}

@media (max-width: 992px) {

    .header{
        padding: 14px 0;
    }

    .menu-bg {
        backdrop-filter: blur(6px);
        --webkit-filter: blur(6px);
        position: fixed;
        display: block;
        top: -150%;
        right: 0;
        width: 100%;
        z-index: -1;
        transition: .3s;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
    }

    .menu-bg.active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .menu {
        position: fixed;
        right: 0;
        top: -150%;
        width: 100%;
        height: 100%;
        transition: .3s;
        z-index: 3;
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-radius: 20px;
        background: var(--gradient-gray);
        left: 50%;
        transform: translate(-50%);
        backdrop-filter: blur(44px);
        padding: 28px 18px;

    }

    .header-body {
        padding: 18px 20px;
        border-radius: 100px;
    }

    .header.moved .header-body {
        padding: 18px 20px;
    }

    .header.moved .menu.active {
        top: 60px;
    }


    .menu.active {
        top: 85px;
        height: unset;
    }


    .menu-list {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

    }


    .burger {
        width: 28px;
        height: 18px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;
        border-radius: 100px;
        cursor: pointer;
        transition: .3s;
        z-index: 4;
    }


    .burger span {
        width: 100%;
        display: block;
        height: 2.3px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::after {
        width: 100%;
        content: '';
        display: block;
        height: 2.3px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 100%;
        content: '';
        display: block;
        height: 2.5px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 9px;
        position: relative;
        height: 1.5px;


    }

    .header-mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 34px auto 0;
        max-width: 328px;
        width: 100%;
    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 7px;
        height: 1.5px;
        position: relative;
    }

    .header-actions {
        display: none;
    }


}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .header .container {
        padding: 0;
    }

    .menu-list-link{
        font-size: 16px;
        line-height: 20px;

    }


}